.menu-information-app {
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer {
  display: flex; /* Convertir el footer en un contenedor flexible */
  justify-content: center; /* Centrar los elementos horizontalmente */
  align-items: center; /* Centrar los elementos verticalmente */
  background-color: #333; /* Color de fondo */
  color: #fff; /* Color del texto */

}

.footer > * {
  margin: 0 10px; /* Espaciado entre los elementos */
}
.footer-information {
  display: flex;
  flex-wrap: wrap; /* Permite que los elementos se envuelvan si no hay suficiente espacio */
  justify-content: space-between; /* Distribuye uniformemente los elementos a lo largo del eje principal */
  align-items: center; /* Centra los elementos verticalmente */
}

.footer-information section {
  flex: 1; /* Hace que cada sección ocupe todo el espacio disponible */
  padding: 20px; /* Añade espacio interno */
}

.footer-information section h2 {
  margin-bottom: 10px; /* Espacio entre el título y los párrafos */
}

.footer-information section:last-child {
  flex-basis: 100%; /* Hace que el último elemento ocupe todo el ancho */
}