.menu-information-app {
  display: flex; /* Establece un contenedor flexible */
  justify-content: center; /* Centra los elementos horizontalmente */
  align-items: center; /* Centra los elementos verticalmente */
}

.menu-information-app > * {
  margin: 0 10px; /* Agrega márgenes entre los elementos */
}
.referenc-component {
  display: flex;
}

